*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
}

.hallo {
  text-align: center;
  border-style: inset;
  border-width: 10px;
  broder
}
